[Unit]
Description=Camnode Homie Service

[Service]
ExecStart=python3 /home/pi/homie-camnode/homie_camnode.py
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
